.customSnippetsData {
    display: none;
}

.customSnippetsDataWrapper {
    max-height: 330px;
    overflow-y: scroll;
}

.customSnippetsDataWrapper > :first-child {
    display: block;
}

.snippetRow {
    padding: 10px;
    background-color: #F4F4F4;
    font-size: 12px;
    border-bottom: 3px solid #f9fafa
}

.snippetEdit,
.snippetName,
.snippetLocale {
    float: left;
    margin: 2px 5px 5px 0;
}

.snippetEdit,
.snippetDelete {
    margin: 2px 5px 0 10px;
    cursor: pointer;
}

.snippetName {
    font-weight: bold;
}

.snippetLocale {
    cursor: pointer;
}

.snippetLocale img {
    width: 24px;
}

.snippet {
    clear: both;
}

.snippetLanguageValue {
    display: none;
}

.snippetTextarea {
    margin-bottom: 10px;
}

.snippetEdit img,
.snippetDelete img {
    width: 16px;
}

.blauband--action-bar {
    text-align: right;
    margin: 5px 20px 30px 20px;
}